<!-- Actor details page header -->
<ion-header>

  <ion-toolbar color="primary">

    <!-- Page title -->
    <ion-title>
      Actor Details
    </ion-title>

  </ion-toolbar>

</ion-header>

<!-- Display page content only if actor details exist -->
<ion-content *ngIf="person">

  <!-- Actor information card -->
  <ion-card>

    <!-- Display actor image if available -->
    <img
      *ngIf="person.profile_path"
      [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path"
    />

    <ion-card-header>

      <!-- Actor name -->
      <ion-card-title>
        {{ person.name }}
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <!-- Actor birthday -->
      <p>
        Birthday:
        {{ person.birthday }}
      </p>

      <!-- Actor place of birth -->
      <p>
        Place of Birth:
        {{ person.place_of_birth }}
      </p>

      <!-- Actor popularity score -->
      <p>
        Popularity:
        {{ person.popularity }}
      </p>

      <!-- Actor biography -->
      <p>
        {{ person.biography }}
      </p>

    </ion-card-content>

  </ion-card>



</ion-content>